.text {
  width: 100rem;
  height: 15rem;
}
.mainContainer {
  padding-top: 2rem;
  position: absolute;
  top: 200px;
  height: 90vh;
  display: inline-block;
  background-color: black;
}
.canvas {
  position: absolute;
  left: 0px;
}
